In [350]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

#### Read the data in pandas

In [351]:
inp1= pd.read_csv("Dress+Sales.csv")

In [352]:
inp1.columns

Index(['Dress_ID', '29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14-09-2013',
       '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013',
       '26-09-2013', '28-09-2013', '30-09-2013', '10-02-2013', '10-04-2013',
       '10-06-2013', '10-08-2013', '10-10-2013', '10-12-2013'],
      dtype='object')

In [353]:
inp0= pd.read_csv("Attribute+DataSet.csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

#### Print the information about the attributes of inp0 and inp1.

In [354]:
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [355]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

def size(x):
    if x == 'L':
        return "Large"
    elif x == 'M':
        return 'Medium'
    elif x == 'XL':
        return 'Extra Large'
    elif x == 'free':
        return 'Free'
    elif x == 'Free':
        pass
    else:
        return "Small"

inp0.Size = inp0.Size.apply(lambda x : size(x))

In [356]:
inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")
inp0.Size= inp0.Size.replace('free', "Free")
inp0.Size= inp0.Size.replace('M', "Medium")
inp0.Size= inp0.Size.replace('L', "Large")
inp0.Size= inp0.Size.replace('XL', "Extra large")

In [357]:
inp0.Size.value_counts(normalize=True)*100

Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra large     2.922756
Name: Size, dtype: float64

#### Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.

In [358]:
inp0.Size.value_counts(normalize=True)*100

Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra large     2.922756
Name: Size, dtype: float64

#### Print the value counts of each category in "Size" column.

In [359]:
inp0.Size.value_counts()

Medium         171
Free           165
Large           93
Small           36
Extra large     14
Name: Size, dtype: int64

### Impute/Remove Missing values

#### Print the null count of each variables of inp0 and inp1.

In [360]:
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [361]:
inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

#### Print the data types information of inp1 i.e. "Dress Sales" data.

In [362]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [363]:
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

### Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.

In [364]:
inp1[inp1.iloc[1:]=='removed'].apply(np.NaN)

TypeError: 'float' object is not callable

#### Do the required changes in the "Dress Sales" data set to get null values on string values.

In [365]:
inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

##### Alternative code to above

###### pd.to_numeric(s, errors='coerce')
##### inp1['09-12-2013'] = pd.to_numeric(inp1['09-12-2013'], errors='coerce')
##### inp1['16-09-2013'] = pd.to_numeric(inp1['16-09-2013'], errors='coerce')
##### inp1['18-09-2013'] = pd.to_numeric(inp1['18-09-2013'], errors='coerce')
##### inp1['20-09-2013'] = pd.to_numeric(inp1['20-09-2013'], errors='coerce')
##### inp1['22-09-2013'] = pd.to_numeric(inp1['22-09-2013'], errors='coerce')
##### inp1['14-09-2013'] = pd.to_numeric(inp1['14-09-2013'], errors='coerce')

In [366]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  478 non-null    object
 9   14-09-2013  478 non-null    object
 10  16-09-2013  478 non-null    object
 11  18-09-2013  478 non-null    object
 12  20-09-2013  478 non-null    object
 13  22-09-2013  478 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

#### Convert the object type columns in "Dress Sales" into float type of data type.

In [367]:
inp1 = inp1.loc[1:].astype(float)

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [368]:
# Print the null percetange of each column of inp1.
inp1.isnull().sum()/inp1.isnull().count()*100

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.209205
14-09-2013     0.209205
16-09-2013     0.209205
18-09-2013     0.209205
20-09-2013     0.209205
22-09-2013     0.209205
24-09-2013     0.000000
26-09-2013    46.443515
28-09-2013     0.000000
30-09-2013    53.765690
10-02-2013    54.184100
10-04-2013    53.974895
10-06-2013     0.000000
10-08-2013    53.347280
10-10-2013    53.347280
10-12-2013     0.000000
dtype: float64

In [369]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
inp1 = inp1.drop(['26-09-2013','30-09-2013','10-02-2013','10-04-2013','10-08-2013','10-10-2013'], axis=1)

In [370]:
inp1.shape

(478, 18)

In [371]:
inp1[1:].isnull().sum()/inp1.shape[0] * 100

Dress_ID      0.000000
29-08-2013    0.000000
31-08-2013    0.000000
09-02-2013    0.000000
09-04-2013    0.000000
09-06-2013    0.000000
09-08-2013    0.000000
09-10-2013    0.000000
09-12-2013    0.209205
14-09-2013    0.209205
16-09-2013    0.209205
18-09-2013    0.209205
20-09-2013    0.209205
22-09-2013    0.209205
24-09-2013    0.000000
28-09-2013    0.000000
10-06-2013    0.000000
10-12-2013    0.000000
dtype: float64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [372]:
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013
1,1.212192e+09,151.0,275.0,570.0,750.0,813.0,1066.0,1164.0,1558.0,1756.0,1878.0,1985.0,2106.0,2454.0,2710.0,3258.0,3911.0,4277.0
2,1.190381e+09,6.0,7.0,7.0,7.0,8.0,8.0,9.0,10.0,10.0,10.0,10.0,10.0,11.0,11.0,11.0,11.0,11.0
3,9.660060e+08,1005.0,1128.0,1326.0,1455.0,1507.0,1621.0,1637.0,1723.0,1746.0,1783.0,1796.0,1812.0,1845.0,1878.0,1914.0,1952.0,1963.0
4,8.763395e+08,996.0,1175.0,1304.0,1396.0,1432.0,1559.0,1570.0,1638.0,1655.0,1681.0,1743.0,1824.0,1919.0,2032.0,2252.0,2544.0,2736.0
5,1.068332e+09,4.0,5.0,11.0,13.0,13.0,13.0,16.0,18.0,19.0,20.0,20.0,21.0,22.0,25.0,26.0,27.0,27.0

In [373]:
# Create the four seasons columns in inp1, according to the above criteria.
inp2 = inp1.T

In [374]:
inp2.head()

,1,2,3,4,5,6,7,8,9,10,...,469,470,471,472,473,474,475,476,477,478
Dress_ID,1.212192e+09,1.190381e+09,966005983.0,876339541.0,1.068332e+09,1.220707e+09,1.219677e+09,1.113094e+09,985292672.0,1.117294e+09,...,1.190559e+09,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0
29-08-2013,1.510000e+02,6.000000e+00,1005.0,996.0,4.000000e+00,4.500000e+01,4.000000e+00,5.000000e+00,9.0,1.500000e+01,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31-08-2013,2.750000e+02,7.000000e+00,1128.0,1175.0,5.000000e+00,6.100000e+01,1.300000e+01,6.000000e+00,11.0,2.800000e+01,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
09-02-2013,5.700000e+02,7.000000e+00,1326.0,1304.0,1.100000e+01,1.310000e+02,5.500000e+01,1.000000e+01,12.0,4.200000e+01,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
09-04-2013,7.500000e+02,7.000000e+00,1455.0,1396.0,1.300000e+01,1.650000e+02,7.300000e+01,1.200000e+01,12.0,4.900000e+01,...,1.000000e+00,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0

In [375]:
inp2.reset_index()

,index,1,2,3,4,5,6,7,8,9,...,469,470,471,472,473,474,475,476,477,478
0,Dress_ID,1.212192e+09,1.190381e+09,966005983.0,876339541.0,1.068332e+09,1.220707e+09,1.219677e+09,1.113094e+09,985292672.0,...,1.190559e+09,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0
1,29-08-2013,1.510000e+02,6.000000e+00,1005.0,996.0,4.000000e+00,4.500000e+01,4.000000e+00,5.000000e+00,9.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31-08-2013,2.750000e+02,7.000000e+00,1128.0,1175.0,5.000000e+00,6.100000e+01,1.300000e+01,6.000000e+00,11.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09-02-2013,5.700000e+02,7.000000e+00,1326.0,1304.0,1.100000e+01,1.310000e+02,5.500000e+01,1.000000e+01,12.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,09-04-2013,7.500000e+02,7.000000e+00,1455.0,1396.0,1.300000e+01,1.650000e+02,7.300000e+01,1.200000e+01,12.0,...,1.000000e+00,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0
5,09-06-2013,8.130000e+02,8.000000e+00,1507.0,1432.0,1.300000e+01,1.760000e+02,7.600000e+01,1.300000e+01,12.0,...,1.000000e+00,10.0,23.0,437.0,219.0,62.0,554.0,728.0,259.0,545.0
6,09-08-2013,1.066000e+03,8.000000e+00,1621.0,1559.0,1.300000e+01,2.090000e+02,8.900000e+01,1.500000e+01,12.0,...,1.000000e+00,10.0,26.0,451.0,227.0,64.0,544.0,726.0,261.0,558.0
7,09-10-2013,1.164000e+03,9.000000e+00,1637.0,1570.0,1.600000e+01,2.160000e+02,9.400000e+01,1.600000e+01,12.0,...,1.000000e+00,10.0,29.0,453.0,229.0,65.0,537.0,715.0,263.0,563.0
8,09-12-2013,1.558000e+03,1.000000e+01,1723.0,1638.0,1.800000e+01,2.510000e+02,1.170000e+02,1.700000e+01,13.0,...,1.000000e+00,10.0,37.0,473.0,239.0,67.0,525.0,694.0,268.0,578.0
9,14-09-2013,1.756000e+03,1.000000e+01,1746.0,1655.0,1.900000e+01,2.620000e+02,1.210000e+02,1.700000e+01,13.0,...,1.000000e+00,10.0,40.0,478.0,241.0,68.0,519.0,690.0,270.0,585.0
10,16-09-2013,1.878000e+03,1.000000e+01,1783.0,1681.0,2.000000e+01,2.890000e+02,1.250000e+02,1.900000e+01,13.0,...,1.000000e+00,10.0,46.0,483.0,246.0,69.0,511.0,686.0,272.0,590.0
11,18-09-2013,1.985000e+03,1.000000e+01,1796.0,1743.0,2.000000e+01,2.950000e+02,1.350000e+02,2.100000e+01,13.0,...,1.000000e+00,10.0,54.0,489.0,252.0,70.0,501.0,674.0,272.0,599.0
12,20-09-2013,2.106000e+03,1.000000e+01,1812.0,1824.0,2.100000e+01,3.250000e+02,1.420000e+02,2.500000e+01,14.0,...,1.000000e+00,10.0,61.0,495.0,257.0,72.0,492.0,665.0,264.0,605.0
13,22-09-2013,2.454000e+03,1.100000e+01,1845.0,1919.0,2.200000e+01,3.530000e+02,1.500000e+02,2.700000e+01,14.0,...,1.000000e+00,10.0,70.0,501.0,272.0,73.0,480.0,658.0,264.0,619.0
14,24-09-2013,2.710000e+03,1.100000e+01,1878.0,2032.0,2.500000e+01,3.790000e+02,1.600000e+02,2.700000e+01,14.0,...,1.000000e+00,10.0,75.0,504.0,278.0,73.0,400.0,616.0,257.0,628.0
15,28-09-2013,3.258000e+03,1.100000e+01,1914.0,2252.0,2.600000e+01,4.170000e+02,1.690000e+02,2.900000e+01,14.0,...,1.000000e+00,10.0,83.0,516.0,284.0,75.0,360.0,586.0,255.0,639.0
16,10-06-2013,3.911000e+03,1.100000e+01,1952.0,2544.0,2.700000e+01,4.740000e+02,2.240000e+02,2.900000e+01,14.0,...,1.000000e+00,10.0,101.0,538.0,291.0,77.0,380.0,551.0,249.0,660.0
17,10-12-2013,4.277000e+03,1.100000e+01,1963.0,2736.0,2.700000e+01,5.520000e+02,2.630000e+02,3.300000e+01,14.0,...,2.000000e+00,9.0,113.0,547.0,299.0,77.0,285.0,520.0,248.0,680.0

In [376]:
inp2.columns = inp2.iloc[0]

In [377]:
inp2.reset_index(inplace=True)

In [378]:
inp2.columns = inp2.iloc[0]

In [379]:
inp2.head()

,Dress_ID,1212192089.0,1190380701.0,966005983.0,876339541.0,1068332458.0,1220707172.0,1219677488.0,1113094204.0,985292672.0,...,1190558632.0,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0
0,Dress_ID,1.212192e+09,1.190381e+09,966005983.0,876339541.0,1.068332e+09,1.220707e+09,1.219677e+09,1.113094e+09,985292672.0,...,1.190559e+09,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0
1,29-08-2013,1.510000e+02,6.000000e+00,1005.0,996.0,4.000000e+00,4.500000e+01,4.000000e+00,5.000000e+00,9.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31-08-2013,2.750000e+02,7.000000e+00,1128.0,1175.0,5.000000e+00,6.100000e+01,1.300000e+01,6.000000e+00,11.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09-02-2013,5.700000e+02,7.000000e+00,1326.0,1304.0,1.100000e+01,1.310000e+02,5.500000e+01,1.000000e+01,12.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,09-04-2013,7.500000e+02,7.000000e+00,1455.0,1396.0,1.300000e+01,1.650000e+02,7.300000e+01,1.200000e+01,12.0,...,1.000000e+00,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0

In [380]:
inp2 = inp2.iloc[1:]

In [381]:
inp2.head()

,Dress_ID,1212192089.0,1190380701.0,966005983.0,876339541.0,1068332458.0,1220707172.0,1219677488.0,1113094204.0,985292672.0,...,1190558632.0,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0
1,29-08-2013,151.0,6.0,1005.0,996.0,4.0,45.0,4.0,5.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31-08-2013,275.0,7.0,1128.0,1175.0,5.0,61.0,13.0,6.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09-02-2013,570.0,7.0,1326.0,1304.0,11.0,131.0,55.0,10.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,09-04-2013,750.0,7.0,1455.0,1396.0,13.0,165.0,73.0,12.0,12.0,...,1.0,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0
5,09-06-2013,813.0,8.0,1507.0,1432.0,13.0,176.0,76.0,13.0,12.0,...,1.0,10.0,23.0,437.0,219.0,62.0,554.0,728.0,259.0,545.0

In [382]:
x = '09-02-2013'
pd.to_numeric(x.split('-')[1])

2

In [383]:
inp2['Month'] = inp2.Dress_ID.apply(lambda x : pd.to_numeric(x.split('-')[1]))

In [384]:
inp2['Month']

1      8
2      8
3      2
4      4
5      6
6      8
7     10
8     12
9      9
10     9
11     9
12     9
13     9
14     9
15     9
16     6
17    12
Name: Month, dtype: int64

In [385]:
inp2.Month=inp2.Month.replace([6, 7, 8], "Summer")
inp2.Month=inp2.Month.replace([9, 10, 11], "Autumn")
inp2.Month=inp2.Month.replace([12, 1, 2 ], "Winter")
inp2.Month=inp2.Month.replace([3, 4, 5], "Spring")

In [386]:
inp2.Month

1     Summer
2     Summer
3     Winter
4     Spring
5     Summer
6     Summer
7     Autumn
8     Winter
9     Autumn
10    Autumn
11    Autumn
12    Autumn
13    Autumn
14    Autumn
15    Autumn
16    Summer
17    Winter
Name: Month, dtype: object

In [387]:
inp2.head()

,Dress_ID,1212192089.0,1190380701.0,966005983.0,876339541.0,1068332458.0,1220707172.0,1219677488.0,1113094204.0,985292672.0,...,641665398.0,964917582.0,859922576.0,817353671.0,990559192.0,713391965.0,532874347.0,655464934.0,919930954.0,Month
1,29-08-2013,151.0,6.0,1005.0,996.0,4.0,45.0,4.0,5.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Summer
2,31-08-2013,275.0,7.0,1128.0,1175.0,5.0,61.0,13.0,6.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Summer
3,09-02-2013,570.0,7.0,1326.0,1304.0,11.0,131.0,55.0,10.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Winter
4,09-04-2013,750.0,7.0,1455.0,1396.0,13.0,165.0,73.0,12.0,12.0,...,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0,Spring
5,09-06-2013,813.0,8.0,1507.0,1432.0,13.0,176.0,76.0,13.0,12.0,...,10.0,23.0,437.0,219.0,62.0,554.0,728.0,259.0,545.0,Summer

In [388]:
inp2 =  inp2.rename(columns={'Month':'Season'})

In [389]:
inp3 = inp2.groupby('Season').sum()

In [390]:
inp3.head()

,1.212192e+09,1.190381e+09,9.660060e+08,8.763395e+08,1.068332e+09,1.220707e+09,1.219677e+09,1.113094e+09,9.852927e+08,1.117294e+09,...,1.190559e+09,6.416654e+08,9.649176e+08,8.599226e+08,8.173537e+08,9.905592e+08,7.133920e+08,5.328743e+08,6.554649e+08,9.199310e+08
Season,,,,,,,,,,,,,,,,,,,,,
Autumn,17311.0,82.0,14411.0,14676.0,169.0,2536.0,1096.0,181.0,107.0,624.0,...,8.0,80.0,458.0,3919.0,2059.0,565.0,3800.0,5290.0,2117.0,4828.0
Spring,750.0,7.0,1455.0,1396.0,13.0,165.0,73.0,12.0,12.0,49.0,...,1.0,10.0,23.0,433.0,217.0,60.0,560.0,734.0,254.0,538.0
Summer,6216.0,40.0,7213.0,7706.0,62.0,965.0,406.0,68.0,58.0,275.0,...,3.0,30.0,150.0,1426.0,737.0,203.0,1478.0,2005.0,769.0,1763.0
Winter,6405.0,28.0,5012.0,5678.0,56.0,934.0,435.0,60.0,39.0,245.0,...,3.0,19.0,150.0,1020.0,538.0,144.0,810.0,1214.0,516.0,1258.0

In [391]:
inp4 = inp3.T

In [392]:
inp4.reset_index(inplace=True)

In [393]:
inp4.columns= ['Dress_ID',"Autumn","Spring","Summer","Winter"]

In [394]:
inp4.head()

       Dress_ID   Autumn  Spring  Summer  Winter
0  1.212192e+09  17311.0   750.0  6216.0  6405.0
1  1.190381e+09     82.0     7.0    40.0    28.0
2  9.660060e+08  14411.0  1455.0  7213.0  5012.0
3  8.763395e+08  14676.0  1396.0  7706.0  5678.0
4  1.068332e+09    169.0    13.0    62.0    56.0

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [395]:
inp4.Dress_ID = inp4.Dress_ID.astype(float)

In [396]:
inp5 = inp0

In [397]:
inp5.Dress_ID = inp0.Dress_ID.astype(float)

In [398]:
inp4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dress_ID  478 non-null    float64
 1   Autumn    478 non-null    float64
 2   Spring    478 non-null    float64
 3   Summer    478 non-null    float64
 4   Winter    478 non-null    float64
dtypes: float64(5)
memory usage: 18.8 KB

In [399]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp6 = pd.merge(left=inp5,right=inp4,how='left',left_on="Dress_ID",right_on='Dress_ID')

In [400]:
inp6.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Autumn,Spring,Summer,Winter
0,1.006033e+09,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1,NaN,NaN,NaN,NaN
1,1.212192e+09,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0,17311.0,750.0,6216.0,6405.0
2,1.190381e+09,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,NaN,print,0,82.0,7.0,40.0,28.0
3,9.660060e+08,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1,14411.0,1455.0,7213.0,5012.0
4,8.763395e+08,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0,14676.0,1396.0,7706.0,5678.0

In [254]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

KeyError: '29-08-2013'

In [402]:
inp6.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation', 'Autumn', 'Spring', 'Summer', 'Winter'],
      dtype='object')

Print the null count of inp0 to get the idea about the missing values in data set.

In [403]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp6.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Autumn              1
Spring              1
Summer              1
Winter              1
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [406]:
inp6.Season.value_counts()

Summer    154
Winter    139
Spring    118
Autumn     66
Name: Season, dtype: int64

In [405]:
inp6.Season = inp6.Season.replace('Automn','Autumn')
inp6.Season = inp6.Season.replace('winter','Winter')
inp6.Season = inp6.Season.replace('summer','Summer')
inp6.Season = inp6.Season.replace('spring','Spring')

In [407]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp6.Price.mode()[0]

'Average'

In [408]:
inp6.Price = inp6.Price.fillna(inp0.Price.mode()[0])

In [409]:
inp6.NeckLine = inp6.NeckLine.fillna(inp0.NeckLine.mode()[0])
inp6.SleeveLength= inp6.SleeveLength.fillna(inp0.SleeveLength.mode()[0])

In [410]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp6 = inp6[~(inp6.Material.isna())]

In [411]:
inp6 = inp6[~(inp6.FabricType.isna())]

In [412]:
inp6 = inp6[~(inp6.Decoration.isna())]

In [413]:
inp6 = inp6[~(inp6['Pattern Type'].isna())]

In [414]:
inp6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 3 to 478
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        101 non-null    float64
 1   Style           101 non-null    object
 2   Price           101 non-null    object
 3   Rating          101 non-null    float64
 4   Size            101 non-null    object
 5   Season          101 non-null    object
 6   NeckLine        101 non-null    object
 7   SleeveLength    101 non-null    object
 8   Material        101 non-null    object
 9   FabricType      101 non-null    object
 10  Decoration      101 non-null    object
 11  Pattern Type    101 non-null    object
 12  Recommendation  101 non-null    int64
 13  Autumn          101 non-null    float64
 14  Spring          101 non-null    float64
 15  Summer          101 non-null    float64
 16  Winter          101 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 14.2+ KB

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

###  Season, SleeveLength

In [416]:
#correcting the spellings.
inp6.Price.value_counts()

Average    49
Low        43
Medium      7
High        2
Name: Price, dtype: int64

In [316]:
#correcting the Spellings.

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [420]:
# Calculate the percentage of each categories in the "Style" variable.
style = inp6.groupby('Style')[['Autumn','Spring','Summer','Winter']].sum()

In [424]:
style.reset_index(inplace=True)

In [427]:
style.Style = style.Style.replace('sexy','Sexy')

In [440]:
style = style.groupby('Style')[['Autumn','Spring','Summer','Winter']].sum()

In [1]:
total_collection=inp6.groupby(['Style'])['Spring','Winter','Autumn', 'Summer'].sum()
total_collection.sum(axis = 1)

NameError: name 'inp6' is not defined

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [2]:
# plot the heat map of Style, price and Recommendation.

NameError: name 'inp2' is not defined

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.